*{
    margin:0;

}

.screen{
    display:flex;
    /* gap:2em; */
    /* border: 2px solid green; */
    justify-content: space-around;
    align-items: center;
    gap:2em;
    background-color: #7f6269;
    height:100vh;
    

}

.options{
    display:flex;
    flex-direction: column;
    gap:3em;
    padding: 20px;
    width: 50vh;
    /* border: 3px solid red; */
    height: 90vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0e1627;
    color:#f4e1e0;
    
}



.choices{
    display:flex;
    gap:2em;

}

.choices button{
    background-color:#e5c5c1;
    padding:10px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.choices button:hover{
    background-color: #bd8e89;
}

.pallete{
    /* border: 2px solid white; */
    width: 60%;
    height: 30px;
    margin-bottom: 70px;
    margin-top: -30px;
    display:flex;

}

.colbox{
    border: 1px solid black;
    flex:1;
    cursor: pointer;
    /* height:20px; */

    
}

.selected{
    border: 2px solid white;
}
.screen .container{
    height:90vh;
    width:90vh;
    border:5px solid #bd8e89;
    display:flex;
    flex-direction: column;
    margin-left: 100px;
    background-color: #f4e1e0;
    
}

.row{
    /* border: 2px solid black; */
    display:flex;
    flex:1;

    
    
}
.box{
    /* border: 2px solid black; */
    display:flex;
    flex-direction: column;
    flex:1;

    
}

.penmode .status{
    color:red;
}

.penmode{
    display: flex;
    gap:1em;
}